* {
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.left-container, .right-container {
    border: 15px solid black;
    float: left;
    
}

.left-container {
    margin-right: 20px;
    width: 27%;
    
}

.right-container {
    width: 54%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}