* {
    box-sizing: border-box;
    font-family: Arial;
}


/* HEADER & MENU STYLING*/

.heading {
    display: block;
    margin-bottom: 10px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

/* BODY STYLING*/
.body-container {
/* Sets height of children to height of largest child*/
    display: flex;
}

.left-container, .right-container {
    border: 15px solid black;
}

.left-container {
    margin-right: 20px;
    width: 33%;
    float: left;
}

.right-container {
    width: 67%;
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.restaurant {
    font: 15px Helvetica Neue;
    font-weight: bold;
    
}

.comment {
    
}