* {
    box-sizing: border-box;
    font-family: Verdana, Arial;
}


/* HEADER & MENU STYLING*/

.heading {
    display: block;
    position: fixed;
    
    top: 0%;
    width: 100%
}

.heading img {
    height: 75px;
    width: 75px;
    float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color: #8d8d8d;
}

#username {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 20pt;
}

/* BODY STYLING*/
.body-container {
/* Sets height of children to height of largest child*/
    display: flex;
    margin-top: 100px;
}

.left-container, .right-container {
    background-color: #000000
}

.left-container {
    margin-right: 20px;
    width: 33%;
    float: left;
    background-color: #ffffff
}

.left-container img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    float: left;
    border-radius: 50%;
    padding: 0px 0px 0px 0px;
}

.right-container {
    width: 67%;
    float: right;
    background-color: #d0d0d0
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.restaurant {
    font: 15px Verdana;
    font-weight: bold;
    color: #0070c9;
    padding-top: 15px;
    margin-bottom: 0px;
    border-top: 2px solid gray;
}

.restaurant:hover {
    text-decoration: underline;
}

.comment {
    font: 10pt Verdana;
    margin-top: 0px;
}
.preferences-section {
    background: #d0d0d0;
    width: 100%;
    float: left;
}

.preference {
    background: #ffffff;
    color: #0070c9;
    border-radius: 15%;
    height: 20px;
    float: left;
    margin: 10px;
    padding: 5px 5px 25px 5px;
}

.preference img {
    height: 20px;
    width: 20px;
    padding: 3px;
    float: right;
}

.footer {
    padding-left: 20px;
    padding-top: 25px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: rgb(0, 0, 0);
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}